@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700buttondisplay=swap");
@import "responsive.css";
@import "dashboard.css";
@import "megaMenuMobile.css";
@import "extendedMenu.css";
@import "headerMobile.css";

body {
  background-color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

Menu {
  font-weight: 600;
}

.ui.secondary.menu .item {
  margin: 0 1.5em;
  padding: 0.618em 1em;
  vertical-align: middle;
}

.color-button {
  color: #fff !important;
  background: #008080 !important;
  padding: 12px 178px;
  border-radius: 4px;
}

.color-button1 {
  color: #fff !important;
  background: #008080 !important;
  padding: 12px 40px;
  border-radius: 4px;
}

.color-button2 {
  color: #fff !important;
  background: #008080 !important;
  padding: 12px 40px;
  border-radius: 4px;
}

.m-15 {
  margin: 0 1.5em;
}

.ml-5 {
  margin-left: 5px;
}

.fontWhite {
  color: white !important;
}

.center {
  margin: auto;
}

.p-0 {
  padding: 0px;
}

.mlr-10 {
  margin: 0px 10px;
}

.bg-green {
  background: #3fda6a;
  color: black !important;
}

.bg-darkGreen {
  background: #468c32;
  color: white !important;
}

.bg-darkBlue {
  background: #0f1a26;
  color: white !important;
}

.w-40 {
  width: 40%;
}

.test {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.btn-header {
  width: 100%;
  margin: auto;
}

.pt-45 {
  padding-top: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pf-55 {
  padding-left: 55px;
}

.pr-55 {
  padding-right: 55px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.p-15-20 {
  padding: 15px 20px;
}

.w-12 {
  width: 12%;
}

.bg-header {
  background: rgba(39, 46, 38, 0.6);
}

.color-white {
  color: white !important;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* Style sub-classes */
Button.primary {
  color: #fff;
  background: #0f1a26;
  border-color: #0f1a26;
}

Button.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

Button.link {
  color: #337ab7;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-weight: 400;
}

Button.large {
  font-size: 1.2em;
  padding: 10px 16px;
  border-radius: 6px;
}

Button.disabled {
  color: #ddd;
  background-color: #aaa;
  border: 1px solid #aaa;
}

.button-header:hover {
  background: #0f1a26;
}

div.bg-image {
  background-image: url("http://training.holisticslab.my/wp-content/uploads/2021/05/Hexagon.png") !important;
  background: #368c6c;
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
