.logo {
  width: 50%;
  padding-left: 10px;
}

.footer {
  background-color: #0f1a26;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.sideBar {
  background-color: white;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.header1 {
  background-color: #ffffff;
}
.menu {
  padding-right: 15px;
  padding-top: 5px;
}
#dropdown-basic-button {
  background-color: transparent;
  border-style: none !important;
  border: 0 !important;
}

.Calendar {
  font-family: sans-serif;
  text-align: center;
}

.cardDashboard {
  font-family: sans-serif;
  padding: 1rem;
  width: auto;
  float: left;
  margin: 1.5rem 1.5rem 1.5rem 0rem;
  background: white;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}
.cardDashboard:hover {
  border-bottom: 2px solid #008571;
}
.cardDashboard.selected {
  transform: scale(1.075);
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

.fc {
  display: inline-block;
  padding: 10px;
  background: white;
}

.header2 {
  padding: 12px 30px;
  background-color: #468c32;
  color: #ffffff;
}

.panel {
  padding: 12px 30px;
  background-color: #ffffff;
}

.active {
  background: #468c32;
}

.active::after {
  content: none !important;
}
