.sidebarMenu {
  height: 100%;
  width: 16%;
  padding: 10px;
  overflow: scroll initial;
  background-color: #0f1a26;
  position: fixed;
  transform: translateX(0px);
}

.titleSubNav {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.no-sidebar {
  transform: translateX(-100%);
  transition: all 0.5s;
  height: 100%;
}

.forceContent {
  width: 100% !important;
  transition: all 0.5s;
}

.zeroContent {
  width: 0% !important;
  transition: all 0.5s;
  display: none;
}

/* .sidebarMenu:hover .subHeader {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 15%;
  display: block;
  width: 150px;
} */
