@media print {
  @page {
    size: auto;
    -webkit-print-color-adjust: exact;
    background-color: white;
    margin: 10px 45px !important;
    padding: 0;
  }
  body {
    size: 7in 9.25in;
    margin: 0;
  }
  #printable {
    display: block !important;
    -webkit-print-color-adjust: exact;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
  }
  #sidebar,
  #header,
  #tableInvoice,
  #tab,
  #subheader {
    display: none;
  }
}
