.box {
  width: 100%;
  padding: 20px 30px;
  margin: 70px 40px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid rgb(121, 121, 209);
  color: black;
}

.required:after {
  content: " *";
  color: red;
}
.radiobox {
  padding-left: 2px;
}
